.drawer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10%;
}

.userInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userInfo > div {
  margin: 10px;
}

.toolbar {
  display: flex;
  height: 5vh;
  /* border-bottom: lightgray;
  border-width: 1px;
  border-style: solid; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  align-items: center;
}

.newEventContainer {
  display: flex;
  flex-direction: column;
  margin-right: 2%;
}
